form[data-v-firstSearchBar] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input[data-v-firstSearchBar] {
  height: 56px;
  width: 80vw;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 10px;
}

form button[data-v-firstSearchBar] {
  width: 30%;
  height: 42px;
  color: white;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}